<div class="app-nav-wrap">
	<a class="navbar-brand fw-semibold text-decoration-none" href="">Booking Desk</a>

	<nav class="nav nav-pills app-nav">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Hotel</NavLink>
		<NavLink class="nav-link" href="book-table">Restaurant</NavLink>
	</nav>
</div>
